//============================================= OC-06 FiS!!EyE =======//
// _CARD =============================================================//
//==================================== By Neah =================2024==//
@use "../base/colors";

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  margin-top: 50px;
  align-items: stretch;
  justify-content: center;

  article {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: stretch;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
    margin: 0 10px;
    padding: 15px;
    min-width: 270px;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    p {
      justify-self: center;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      text-decoration: none;

      h2 {
        justify-self: center;
        justify-content: center;
        text-align: center;
        color: colors.$colorSecondary;
        font-size: 36px;
        font-weight: lighter;
        margin: 0px;
      }

      img {
        display: block;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        padding: 2px;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

#carrousel {


  article {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
    padding: 15px;
    max-width: 270px;
    //height: 100%;
    transition: all 0.3s cubic-bezier(0.49, -0.07, 0.36, 0.92);

    &:hover {
      transform: scale(1.05);
      /*z-index: 30;*/
    }
  }

  figure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9fr, 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px;
    
    a {
      grid-column: 1 / -1;
      grid-row: 1;
      margin: 0px;

      img,
      video {
        aspect-ratio: 4/5;
        object-fit: cover;
        width: 100%;
        padding: 0;
      }
    }
    figcaption {
      color: colors.$colorMain;
      grid-column: 1;
      grid-row: 3fr;
      min-height: 45px;
    }
    .heartMedia {
      grid-column: 2;
      grid-row: 3fr;
      display: block;
      justify-self: end;
      color: colors.$colorMain;

      &:active {
        //color: colors.$colorSecondary;
        animation: circle 0.6s ease-out forwards;
      }
    }

    
  }
}

.artist {
  &--city {
    margin: 0px;
    justify-self: center;
    color: colors.$colorMain;
    font-size: 13px;
  }
  &--tagline {
    justify-self: center;
    color: colors.$colorTypoBlack;
    font-size: 10px;
  }
  &--price {
    margin: 0px;
    justify-self: center;
    color: colors.$colorTypoGrey;
    font-size: 9px;
  }
}

.heartCount {
  display: block;
  position: relative;
  right: 0;
  color: colors.$colorMain;
}
