//============================================= OC-06 FiS!!EyE =======//
// lightBox ==========================================================//
//==================================== By Neah =================2024==//
@use "../base/colors";

// Tuto Neph 😇 AlterAngel
// grid area : row-start / column-start / row-end / column-end

#lightbox {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px;
  height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 90%;
  max-width: 1200px;
  height: 85vh;
  background-color: colors.$backgroundSite;
  border-radius: 5px;
  margin: 30px auto ;
  animation-name: modalopen;
  animation-duration: 0.8s;
  z-index: 100;
  position: relative;
  overflow: hidden;

  
  figure {
    grid-area: 2 / 2 / 5 / 9;

    justify-content: center;
    align-items: center;
    margin: 5px;
    position: relative;
    padding: 3px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    
    figcaption {
      width: 100%;
      background-color: rgba(252, 69, 69, 0.647);
      color: white;
      padding: 10px;
      text-align: left;
    }
  }
  
  .controls-left {
    grid-area: 3 / 1 / 3 / 2;
    
    span {
      height: 100%;
      display: flex;
      justify-content: end;
      align-items: center;  

      
      img {
        width: 72px;
        height: 72px;
        cursor: pointer;
      }
    }
  }

  
  .controls-right {
    grid-area: 3 / 10 / 3 / 9;
    
    span {
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;  

      
      img {
        width: 72px;
        height: 72px;
        cursor: pointer;
      }
    }
  }

  
  .closemedia {
    grid-area: 2 / 9 / 4 / 9;
    
    img {
      width: 35px;
      height: 35px;
      margin: 10px;
      cursor: pointer;
      
    }
  }
}

//============================================= OC-06 FiS!!EyE =======//