//============================================= OC-07 ================//
// COLORS ============================================================//
//==================================== By Nepha =============== 2024 =//

// Colors Global -- --------------------------------------------------//
$backgroundSite: #EDEDED !default;
$backgroundFooter: #1b1b1b !default;
$backgroundGlobalElement: #FFD15B !default;
$colorGreyBackground : #FAFAFA;

// Colors Components ------------------------------------------------//
$colorMain : #FFD15B;
$colorSecondary : #FFD15B;
$colorTernary : #7A7A7A;
$colorComboBox : #FFFFFF;
$colorComboHover : #FFD15B;
$colorComboSelected : #FFD15B;
$colorComboIconBack : #1b1b1b;
$colorComboIconsymbol : #FFFFFF;



// Colors Typo ------------------------------------------------------//
$colorGrey : #7A7A7A;
$colorBlack : #000000;
$colorTitle : #000000;
$colorText : #1B1B1B;
$colorWhite : #FFFFFF;
$colorCombo : #7A7A7A;