//============================================= OC-06 FiS!!EyE =======//
// COLORS ============================================================//
//==================================== By Neah =================2024==//

// Colors Global -- --------------------------------------------------//
$backgroundSite: #ffffff !default;
$backgroundFooter: #353535 !default;
$backgroundGlobalElement: #9356dc !default;
$colorGreyBackground : #FAFAFA;

// Colors Components ------------------------------------------------//
$colorMain : #901C1C;
$colorSecondary : #D3573C;
$colorTernary : #DB8876;

// Colors Typo ------------------------------------------------------//
$colorTypoGrey : #757575;
$colorTypoGreyBis :#312E2E;
$colorTypoBlack : #000;
$colorTypoWhite : #fff;