//============================================= OC-07 Petits Plats ===//
// TYPO ==============================================================//
//==================================== By Nepha =============== 2024 =//

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Manrope:wght@200..800&family=Spectral:ital,wght@0,400;1,300;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$fontDefault: "Manrope", sans-serif;
$fontSizeDefault : 1.0rem;
$fontSizeTitle : 1.2rem;