//============================================= OC-06 FiS!!EyE =======//
// _HOME =============================================================//
//==================================== By Neah =================2024==//
@use "../base/colors";

h1 {
    color: colors.$colorTypoWhite;
    margin-right: 100px;
}


main{
    flex-grow:1;
}

