//============================================= OC-06 FiS!!EyE =======//
// _GLOBAL ===========================================================//
//==================================== By Neah =================2024==//
@use "../base/colors";
@use "../base/typo";

*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: typo.$fontDefault;
    margin: 0;
    min-height:100vh;
    background: colors.$backgroundSite;
}

main    {
 margin-bottom: 50px;
}
