//============================================= OC-07 ================//
// _GLOBAL ===========================================================//
//==================================== By Nepha ================2024==//
@use "../base/colors";
@use "../base/typo";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: colors.$backgroundSite;
  margin: 0;
  padding: 0;
}

 main    {
 margin-bottom: 50px;
}

#countRepice {
  font-family: typo.$fontSecondary;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: typo.$fontSizeTitle;
  font-weight: bold;
  color: colors.$colorBlack;
}