//============================================= OC-06 FiS!!EyE =======//
// _HEADER ===========================================================//
//==================================== By Neah =================2024==//
@use "../base/colors";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: colors.$colorGreyBackground;    
}

.logo {
    height: 50px;
    margin-left: 100px;
    color: #fff;
}
